<div class="container mt-5">
  <h1>External API</h1>
  
  <div *ngIf="hasApiError" class="alert alert-danger" role="alert">
    An error occured when trying to call the local API on port 8080. Status: {{errorMessage}}.
  </div>

  <p class="lead">Ping an external API by clicking the button below.</p>

  <p>
    This will call a local API on port 8080 that has three endpoints: public, private (for anyone who has been authenticated), and protected (only for users with certain permissions). An access token is sent as part of the
    request's `Authorization` header and the API will validate it using the
    API's audience value and Auth0 authorization services.
  </p>


  <p class="mb-3">
    Ping this external API by clicking the button below. This will make a call to the
    external API using an access token, and the API will check the
    token's audience value and then use the Auth0 authorization services to validate it.
  </p>


  <!-- Protected Endpoint -->
  <button
    class="btn btn-primary mb-5"
    [disabled]="!audience"
    (click)="pingProtectedApiEndpoint()"
  >
    Ping Protected API Endpoint
  </button>

  <div id="protectedBlock" class="result-block-container" *ngIf="protectedResponseJson">
    <div class="result-block" [ngClass]="{ show: !!protectedResponseJson }">
      <h6 class="muted">Result</h6>
      <pre>
        <code class="js rounded" [highlight]="protectedResponseJson"></code>
      </pre>
    </div>
  </div>

  <div class="result-block-container" *ngIf="!protectedResponseJson">
    <h6 class="muted">Results will show here</h6>
  </div>


  <!-- Private Endpoint -->
  <button
    class="btn btn-primary mb-5"
    [disabled]="!audience"
    (click)="pingPrivateApiEndpoint()"
  >
    Ping Private API Endpoint
  </button>

  <div id="privateBlock" class="result-block-container" *ngIf="privateResponseJson">
    <div class="result-block" [ngClass]="{ show: !!privateResponseJson }">
      <h6 class="muted">Result</h6>
      <pre>
        <code class="js rounded" [highlight]="privateResponseJson"></code>
      </pre>
    </div>
  </div>

  <div class="result-block-container" *ngIf="!privateResponseJson">
    <h6 class="muted">Results will show here</h6>
  </div>


  <!-- Public endpoint -->
  <button
    class="btn btn-primary mb-5"
    [disabled]="!audience"
    (click)="pingPublicApiEndpoint()"
  >
    Ping Public API Endpoint
  </button>

  <div id="publicBlock" class="result-block-container" *ngIf="publicResponseJson">
    <div class="result-block" [ngClass]="{ show: !!publicResponseJson }">
      <h6 class="muted">Result</h6>
      <pre>
        <code class="js rounded" [highlight]="publicResponseJson"></code>
      </pre>
    </div>
  </div>

  <div class="result-block-container" *ngIf="!publicResponseJson">
    <h6 class="muted">Results will show here</h6>
  </div>
</div>
