<div class="next-steps my-5">
    <h2 class="my-5 text-center">What does this app do?</h2>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
            This app uses Auth0 to authenticate/authorize users
        </h6>
        <p>
          Auth0 is an authorization server solution that has the ability to connect with many different common authentication providers. It will play the role of our federated authentication server.
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">Anyone can access public endpoints on our server</h6>
        <!-- Public endpoint -->
        <button
          class="btn btn-primary mb-3"
          (click)="pingPublicApiEndpoint()"
        >
          Ping Public API Endpoint
        </button>
      
            <h6 class="">Result:</h6>
        <div id="publicBlock" class="" *ngIf="publicResponseJson">
          <div class="" [ngClass]="{ show: !!publicResponseJson }">
            
              <p class="pt-2">{{publicResponseJson}}</p>
            
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
            When a user is authenticated, they can access more api endpoints
        </h6>
        <p>
          Once a user is signed in, they gain access to new pages and when those pages request resources from our api, their credentials are checked. Our resource server will validate the credentials with Auth0, as is standard with access code flow.
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
            Auth0 provides permissions (AKA scopes and roles) using rules
        </h6>
        <p>
          Not all users are equal in their access to protected data. Using JavaScript, we can include scope in Auth0 provided tokens for our resource server to decode, providing further protection for sensitive data.
        </p>
      </div>
    </div>
  </div>
