<div class="text-center hero my-5">
  <div class="row row-cols-2">
    <div class="col"><img class="mb-3 app-logo" src="../../assets/logo.png" alt="Angular logo" /></div>
    <div class="col"><img class="mb-3 app-logo" src="../../assets/icons8-spring-boot-480 (1).png" alt="Spring Boot logo" /></div>
  </div>
    <h1 class="mb-4">Auth0 Angular Spring Boot Demo for VCU</h1>

    <p class="lead">
      This is a sample application that demonstrates an authentication flow for an
      SPA, using
      <a href="https://angular.io">Angular</a>, <a href="https://spring.io/projects/spring-boot">Spring Boot</a>, and <a href="https://auth0.com/">Auth0</a>
    </p>
  </div>

